.p-authentication
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 500px;

    h1
    {
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-xs);
        text-align: center;
    }

    & > p
    {
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-xxs);
        color: var(--color-text-tertiary);
        text-align: center;
    }
}

@media screen and (max-width: 500px)
{
    .p-authentication
    {
        width: 90%;
    }
}

