.c-authenticationToggle 
{
    position: relative;
    display: flex;
    border: 1px solid var(--color-border-primary);
    padding: 5px;
    border-radius: var(--border-radius-primary);
    width: 85%;

    button 
    {
        border: none;
        font-size: var(--font-size-s);
        background-color: transparent;
        color: var(--color-text-secondary);
        font-weight: var(--font-weight-xs);
        padding: var(--padding-vertically-button) 0px;
        border-radius: var(--border-radius-primary);
        width: 100%;
    }

    .buttonActive
    {
        color: var(--color-text-primary);
        font-weight: var(--font-weight-s);
    }

    .d-slider 
    {
        top: 0;
        left: 0%;
        width: 50%;
        height: 100%;
        position: absolute;
        background-color: var(--color-bg-primary);
        z-index: -1;
    }

    .activeToggleSlideToRight
    {
        animation: authenticationToggleSlideToRight 0.4s forwards;
    }

    .activeToggleSlideToLeft
    {
        animation: authenticationToggleSlideToLeft 0.4s forwards;
    }
}

@keyframes authenticationToggleSlideToRight
{
    from {
        left: 0%;
    }
    to {
        left: 50%;
    }
}

@keyframes authenticationToggleSlideToLeft
{
    from {
        left: 50%;
    }
    to {
        left: 0%;
    }
}