.c-textInput 
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

    label 
    {
        font-size: var(--font-size-xxs);
        font-weight: var(--font-weight-m);
    }

    input 
    {
        width: 100%;
        border: 1px solid var(--color-border-primary);
        outline: none;
        padding: var(--padding-text-input);
        border-radius: var(--border-radius-primary);

        &::placeholder 
        {
            color: var(--color-text-tertiary);
        }
    }
}