@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root 
{
    // Colors
    --color-bg-primary: #fff;
    --color-bg-secondary: rgb(250, 224, 224);

    --color-text-primary: #000;
    --color-text-secondary: rgb(105, 105, 105);
    
    // Fonts & Font size & Font weight
    --font-family-primary: Inter;

    --font-size-xs: 0.8em;
    --font-size-s: 1em;
    --font-size-m: 1.2em;
    --font-size-l: 1.45em;
    --font-size-xl: 1.6em;

    --font-weight-xxs: 200;
    --font-weight-xs: 300;
    --font-weight-s: 400;
    --font-weight-m: 500;
    --font-weight-l: 600;
    --font-weight-xl: 700;

    // Margin & Padding & Gap
    // Borders radius
}

* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-primary);
}

body 
{
    background-color: var(--color-bg);
}

img 
{
    object-fit: cover;
    object-position: center;
}

a 
{
    text-decoration: none;
    color: black;
}