.c-submitInput 
{
    background-color: var(--color-bg-primary);
    padding: var(--padding-vertically-button) 0px;
    border: none;
    outline: none;
    border-radius: var(--border-radius-primary);
    font-size: 0.9em;
}