@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root 
{
    --background-color: #FAFAFA;

    --black-color: black;
    --white-color: white;
    --gray-color: #B1B1B1;

    --main-font: Inter;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    background-color: var(--background-color);
    font-family: var(--main-font);
}