@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root 
{
    --background-color: #FAFAFA;

    --black-color: black;
    --white-color: white;
    --gray-color: rgba(167, 167, 167, 0.25);
    --gray-color1: rgb(173, 173, 173);

    --main-font: Inter;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body 
{
    background-color: var(--background-color);
}

img 
{
    object-fit: cover;
    object-position: center;
}